<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
	<title>pedido de item</title>
	<style type="text/css">
	form {
		  
    margin: 0 auto;
    width: 400px;
    padding: 5em;
    border: 5px solid #CCC;
    border-radius: 7em;
	}	
	
	
	
	
	</style>
</head>
<body>
<form>


  <div class="namerequisitador">
    <div class="form-group col-md-6">
      <label for="RMname">Nome do Requisitador:</label>
      <input type="name" class="form-control" id="inputname" placeholder="Nome">
    </div>
    <br>
    
    
    
    
    <div class="depart">
      <label for="CodDP">Departamento:</label>
      <input type="codigo" class="form-control" id="inputDP" placeholder="Código do Departamento">
    </div>
  </div>
  <br>
  
  
  <div class="ReferA">
    <label for="inputRefA">Referência A:</label>
    <input type="text" class="form-control" id="inputrefa">
  </div>
  <br>
  
  
  
  <div class="ReferB">
    <label for="inputForn">Fornecedor:</label>
    <input type="text" class="form-control" id="inputFn">
  </div>
  <br>
  
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputProp">N° Proposta:</label>
      <input type="text" class="form-control" id="inputProp">
    </div>
    <br>
    
    
    <div class="form-group col-md-4">
      <label for="inputOC">OC type</label>
      <select id="inputEstado" class="form-control">
        <option selected>Escolher...</option>
        <option>BRI001</option>
        <option>BRI002</option>
        <option>BRI003</option>
        <option>BRI004</option>
      </select>
    </div>
    <br>
    
    <div class="form-group col-md-2">
      <label for="inputCEP">Data de recebimento planejado</label>
      <input type="date" class="form-control" id="inputCEP">
    </div>
  </div>
  <br>
  
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Clique em mim
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Entrar</button>
</form>



</body>
</html>